@import url("reset.css");
@import url("header.css");
@import url("game.css");
@import url("board.css");
@import url("tile.css");
@import url("footer.css");


body{
    font-family: "Helvetica Neue", sans-serif;
    background-color: #faf8ef
}

button:hover{
    cursor: pointer;
}

button:focus{
    outline: none;
}
