@import url("reset.css");
@import url("header.css");
@import url("game.css");
@import url("board.css");
@import url("tile.css");


body{
    font-family: "Helvetica Neue", sans-serif;
}

button:hover{
    cursor: pointer;
}

button:focus{
    outline: none;
}

.app{
    height: 100vh;
    background-color: #faf8ef;
}