

.tile-container{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
}

.tile{
    position: absolute;
    display: flex;
    width: 100px;
    height: 100px;

    color: white;
    font-weight: bold;
    font-size: 40px;

    justify-content: center;
    align-items: center;
    transition: transform .15s ease;
    
}

.tile-val-2{
    background-color: #eee4da;
    color: #776D63;
}

.tile-val-4{
    background-color: #ede0c8;
    color: #776D63;
}
.tile-val-8{
    background-color: #f2b179;
}
.tile-val-16{
    background-color: #f7b2a1;
}
.tile-val-32{
    background-color: #f59563;
}
.tile-val-64{
    background-color: #f65e3b;
}
.tile-val-128{
    background-color: #edcf72;
}
.tile-val-256{
    background-color: #8dc04b;
}
.tile-val-512{
    background-color: #4bc08f;
}
.tile-val-1024{
    background-color: #4b74c0;
}

